html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    font-family: Helvetica;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.card__wrapper {
    display: flex;
    width: 1127px;
    height: 595px;
    background: #444444;
    border-radius: 30px;
}

.card__wrapper-left {
    position: relative;
    height: 595px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__user-logo {
    width: 180px;
    height: 180px;
    margin: 30px;
    border-radius: 50%;
    box-shadow: 12px 12px 20px #222222;
}

.card__user-name {
    margin: 5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

.card__bold-name {
    margin: 10px;
    font-size: 38px;
    line-height: 44px;
}

.card__user-position {
    margin: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.card__bold-position {
    font-size: 22px;
    line-height: 25px;
}

.card__social-link {
    width: 24px;
    height: 24px;
    top: 370px;
    margin: 5px;
    background: #C4C4C4;
    border-radius: 50%;
}

.card__social-links {
    display: flex;
}

.card__social-link__vk {
    left: 144px;
}

.card__social-link__ok {
    left: 178px;
}

.card__social-link__git {
    left: 212px;
}

.card__download-cv-button {
    width: 168px;
    height: 46px;
    margin: 70px;
    background: #444444;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 20px;
}

.card__footer {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    bottom: 20px;
}

.card__wrapper-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 595px;
    background: #222222;
    border-radius: 30px;
    width: 70%;
}
